.portfolio-page {
  padding: 0% 10% 0% 0%;
  width: 90%;
  position: relative;
  top: 25%;
  // height: 100%;
  overflow: auto;

  h1.page-title {
    margin-left: 100px;
    margin-top: 100px;
  }

  .images-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-bottom: 100px;
  }

  .cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .image-box {
    position: relative;
    flex: 1 1 20%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    max-width: calc(25% - 10px);

    .portfolio-image {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      position: absolute;
      width: 100%;
      z-index: 3;
      padding: 10px 20px;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0,
        rgba(0, 0, 0, 1)
      );
      bottom: -70px;
    }

    .title {
      margin-bottom: 0;
      margin-top: 0;
      color: #fff;
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;
    }

    .description {
      font-size: 14px;
      margin-bottom: 5px;
      color: #fff;
      font-weight: 700;
    }

    .btn {
      margin-top: 30px;
      margin-bottom: 10px;
      padding: 0 23px;
      height: 40px;
      line-height: 34px;
      border: 2px solid #fdb515;
      border-radius: 4px;
      font-size: 14px;
      color: #fff;
      background: transparent;
      text-transform: uppercase;
      font-weight: 700;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;
    }

    .btn:hover {
      transform: translateY(-3px);
      background: #fdb515;
    }

    &:after {
      content: '';
      background: linear-gradient(180deg, #fdb515, #000);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      opacity: 0;
    }

    &:hover:after {
      opacity: 0.85;
    }

    &:hover .content {
      bottom: 0;
      background: transparent;
    }
  }
}

.portfolio-container {
  height: 100vh;
  width: 100%;
}

.projectInfo {
  overflow: hidden;
  height: 33%;
  padding-bottom: 0 !important;

  .projectTitle {
    overflow: hidden;
    // overflow-x: scroll;
    white-space: nowrap;
    font-size: large;
    height: 18%;
    margin: 0;
  }

  .projectContent {
    overflow: scroll;
    height: 60%;
    width: 100%;
    font-size: xx-large;
    p {
      font-size: medium;
      margin: 0;
    }
  }

  .projectSkill {
    // overflow-x: scroll;
    height: 25%;
    width: 100%;
    font-size: x-large;
    display: flex;
    align-items: flex-start;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1200px) {
  .portfolio-container {
    height: 90vh;
    width: 100%;
  }

  .portfolio-page {
    padding: 0% 10% 0% 0%;
    width: 90%;
    position: relative;
    top: 10%;
    overflow: auto;
  }
}
