.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 36px;
    line-height: 53px;
    margin: 0;
    font-family: 'Gill Sans';
    font-weight: 400;

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #c2b9a7;
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Gill Sans';
    letter-spacing: 3px;
    animation: fadeIn 1s 1s backwards;
  }

  .flat-button {
    color: #fdb515;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'Gill Sans';
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #fdb515;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1s backwards;
    white-space: nowrap;

    &:hover {
      background: #fdb515;
      color: #333;
    }
  }

  .profilePic {
    top: 30vh;
    right: -57vw;
  }
}

@media screen and (max-width: 1200px) {
  .home-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .profilePic {
      top: 0vh;
      right: 0vw;
    }
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 124px;
  }

  .page {
    top: 10vh;
    position: none;
  }
  .logo-container {
    position: relative;
    width: 100px;
    height: auto;
    top: 50px;
    right: 0;
    box-sizing: border-box;
    margin: auto;
    left: 0;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}
