.aboutMe-page {
  h1 {
    font-size: 51px;
    font-family: 'Gill Sans';
    color: #fdb515;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
  }

  p {
    font-size: 18px;
    color: #fff;
    font-family: 'Gill Sans';
    font-weight: 300;
    max-width: fit-content;
    animation: pulse 0.5s;
    &:nth-of-type(1) {
      animation-delay: 0.3s;
    }
    &:nth-of-type(2) {
      animation-delay: 0.4s;
    }
    &:nth-of-type(3) {
      animation-delay: 0.5s;
    }
  }

  .text-zone {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 65%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}

.stage-cube-cont {
  width: 35%;
  height: 78%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 190px;
    height: 190px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }
}

.aboutMe-content {
  height: 100%;
  overflow-y: scroll;
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

.icons {
  // display: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .aboutMe-content {
    width: 80%;
    height: 50%;
    font-size: 24px;
    padding: 0% 10%;
  }

  .stage-cube-cont {
    display: none;
  }

  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
  }
}
